body {
  background-color: black;
  color: grey ;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}
